@import '../../../../styles/base/all';

.schema-validator {

}

.schema-validator__tool {
  border: 1px solid $color-gray-lighter;
  border-radius: 8px;

  &.valid {
    border-color: $color-green-lighter;

    .schema-validator__input {
      header {
        background-color: $color-green-lightest;
        border-color: $color-green-lighter;
      }
    }
  }

  &.invalid {
    border-color: $color-secondary-light;

    .schema-validator__input {
      header {
        background-color: $color-secondary-lightest;
        border-color: $color-secondary-light;
      }
    }
  }
}

.schema-validator__input {
  header {
    background-color: $color-gray-lightest;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 1.5rem;
  }

  h3 {
    margin: 0;
  }

  textarea {
    border: none;
    height: 480px;
    margin-bottom: 1rem;
    max-width: 100%;
    resize: none;
  }
}

.schema-validator__messages {
  border-top: 1px solid $color-gray-lighter;

  header {
    padding: 1.5rem;

    h3 {
      margin: 0;
    }
  }

  table {
    border-radius: 0 0 8px 8px;
    margin: 0;
    overflow: hidden;

    th,
    td {
      border: none;
    }

    tr {
      border-bottom: 1px solid $color-gray-lighter;
    }
  }

  p {
    background-color: $color-gray-lightest;
    border-radius: 0 0 8px 8px;
    margin: 0;
    padding: 1.5rem;
  }
}

.tool {
  padding: 2.5em 1.5em;

  @media screen and (min-width: $medium-screen) {
    @include grid-column(9);
  }

  @media screen and (min-width: $extra-large-screen) {
    padding: 2.5em 2em;
  }
}
