<nav [ngClass]="{active: menuActive}" class="policy-guide-subnav docs-nav" role="navigation">
  <button toggle-menu class="mobile-submenu" role="button" aria-pressed="false">
    <span class="menu-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </span>
    <span class="menu-text">
      Menu
    </span>
  </button>
  <ul class="usa-sidenav-list">
    <li routerLinkActive="usa-current">
      <a routerLink="introduction" routerLinkActive="usa-current">Introduction</a>
    </li>
    <li routerLinkActive="usa-current">
      <a routerLink="objectives" routerLinkActive="usa-current">Objectives</a>
    </li>
  </ul>
</nav>

<section class="docs-content"> 
  <router-outlet></router-outlet>
</section>
