@import '../../../styles/base/all';

i {
  display: block;
  font-size: 1.5em;
  left: 1rem;
  line-height: 45px;
  position: absolute;

  @media screen and (min-width: $small-screen) {
    line-height: 40px;
  }
}

input {
  border-color: $color-gray-lighter;
  border-radius: 4px;
  font-size: 1.7rem;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 100%;
}

input {
  // @include grid-column(9);
  // border: 1px solid $color-gray-light;
  // margin-bottom: 0;
  // margin-left: 0;
  // margin-top: 0;
  // max-width: none;
}

.search-input {
  position: relative;
}

.autocomplete-container {
  position: absolute;
  top: 44px;
  width: calc(75% - 35px);
}
