<div class="mobile-menu" [ngClass]="{open: isOpen}">
  <ul class="mobile-menu-items usa-unstyled-list">
    <li class="mobile-menu-item">
      <form
          class="search-form"
          (ngSubmit)="search()">
        <search-input
            name="searchQuery"
            [(queryValue)]="searchQuery"
            ngDefaultControl>
        </search-input>
      </form>
    </li>
    <li class="mobile-menu-item">
      <a class="link" routerLink="/explore-code">Browse Projects</a>
    </li>
    <li class="mobile-menu-item">
      <a class="link" routerLink="/policy-guide">Policy Info</a>
    </li>
    <li class="mobile-menu-item">
      <a class="link" href="https://bit.ly/2pnRlYN" rel="noopener">Join Mailing List</a>
    </li>
  </ul>
</div>